body{
    font-family: Arial, Verdana, sans-serif;
    width: 80%;
    margin: 2em auto;
    background-image: linear-gradient(#e2e2e2, white);
    min-height: 600px;
}
   
header{
    border: thin solid black;
    border-radius: 0.5em 0.5em;
}

div.cadastro{    
    position: absolute;
    left: 50%;
    width: 40%;
    margin-left: -20%;
}

form {    
    margin-top: 1.5em;
    font-size: small;    
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li{
    display: inline;
}

nav a{
    background-color: #74748d; 
    padding: 5px 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #4c4c5a;
}


#fotousuario{
    float: left;
    margin: 0 2em;
    width: 140px;
    height: 190px;
}

#rodapeparticipante{    
    margin-top: 38em;
}

#btnparticipante{
    text-align: center;
}

#fparticipante select{
    width: 90%;
}

#fparticipante input[type=text]{
    width: 90%;
}

#fparticipante input[type=password]{
    width: 90%;
}

#fparticipante input[type=email]{
    width: 90%;
}

#fparticipante textarea{ 
    width: 90%;
    height: 5em;
}

h1{
    text-align: center;
}
            
header p{
    text-align: center;
    font-size: medium;
    font-style: oblique;
}                        

#foto{
    text-align: center;
}

#login{
    text-align: right;
    font-size: small;
}

button:hover{
    background-color: #a8a5a5; 
}

#buscapornome{
    margin-top: 3em;
}

#buscapornome input{
    width: 300px;
}

div.fotos{  
    margin: 1em auto;
    width: 100%;                
    text-align: center;                
}
                                
div.fotos figure{   
    float: left;
    text-align: center;
    margin-left: 0em;
    margin-right: 1em;
    width: 23%;                
}

div.fotos ul{
    list-style: none;
}
               
div.fotos ul li figure:hover{
    box-shadow: 3px 3px 3px 3px black;                
}
            
div.fotos ul li figure figcaption{
    width: 100%;
    font-size: smaller;                
}
                                                      
div.fotos ul li figure img{                                   
    width: 240px;
    height: 320px;
}

footer{                
    font-size: small;
    font-style: italic;
    text-align: center;  
    clear: both;
}

dl{
    line-height: 1.5em;
}

dt{
    font-weight: bold;        
}

dd{
    font-size: smaller;
}


