div ul{
    list-style: none;
}

div ul li figure{
    text-align: center;
}

div ul li figure figcaption{
    width: 100%;
    font-size: smaller;                    
}

div.cadastro{    
    position: absolute;
    left: 50%;
    width: 40%;
    margin-left: -20%;
}

form {    
    margin-top: 1.5em;
    font-size: small;    
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li{
    display: inline;
}

nav a{
    background-color: #74748d; 
    padding: 5px 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #4c4c5a;
}

#fotousuario{
    float: left;
    margin: 0 2em;
    width: 140px;
    height: 190px;
}

#login{
    text-align: right;
    font-size: small;
}

#rodapeparticipante{    
    margin-top: 38em;
}

#btnparticipante{
    text-align: center;
}

#fparticipante select{
    width: 90%;
}

#fparticipante input[type=text]{
    width: 90%;
}

#fparticipante input[type=password]{
    width: 90%;
}

#fparticipante input[type=email]{
    width: 90%;
}

#fparticipante textarea{ 
    width: 90%;
    height: 5em;
}

h1{
    text-align: center;
}
            
header p{
    text-align: center;
    font-size: medium;
    font-style: oblique;
}                        
